body {
  background: linear-gradient(to right, #9B59B6, #E95BA6); /* Standard syntax */
  background: -webkit-linear-gradient(left, #9B59B6, #E95BA6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #9B59B6, #E95BA6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #9B59B6, #E95BA6); /* For Firefox 3.6 to 15 */
}
input[type=text] {
  width: 250px; height: 30px;
  top: 50%; left: 50%;
  margin-top: -90px;
  margin-left: -110px;
  padding: 10px;
  position: absolute; 
  border: 2px solid #CCCCCC;
  border-top: none; border-right: none; border-left: none;
  background-color: transparent;
  z-index: 2;
  font-family: century gothic;
  outline: none;
}
input[type=password] {
  width: 250px; height: 30px;
  top: 50%; left: 50%;
  margin-top: -30px;
  margin-left: -110px;
  padding: 10px;
  position: absolute;
  border: 2px solid #CCCCCC;
  border-top: none; border-right: none; border-left: none;
  background-color: transparent;
  z-index: 2;
  font-family: century gothic;
  outline: none;
}
input[type=checkbox] {
  width: 18px; height: 18px;
}

#box-signin {
  width: 800px; height: 500px;
  top: 50%; left: 50%;
  margin-top: -250px; /*set to a negative number 1/2 of height*/
  margin-left: -400px; /*set to a negative number 1/2 of width*/
  position: fixed;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 0 8px #CCCCCC;
  -webkit-box-shadow: 0 0 8px #CCCCCC;
  -o-box-shadow: 0 0 8px #CCCCCC;
  -moz-box-shadow: 0 0 8px #CCCCCC;
}
#left-bg-box-signin {
  width: 450px; height: 500px;
  position: absolute;
  z-index: 1;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid #F2F2F2;
  border-radius: 10px 250px 250px 10px;
  background-color: #F2F2F2;
  box-shadow: 0 0 8px #BDBFBF;
  -webkit-box-shadow: 0 0 8px #BDBFBF;
  -o-box-shadow: 0 0 8px #BDBFBF;
  -moz-box-shadow: 0 0 8px #BDBFBF;
}

.box-icon-text {
  width: 33px; height: 40px;
  top: 50%; left: 50%;
  margin-top: -90px;
  margin-left: -150px;
  padding: 5px;
  position: absolute; 
  border: 2px solid #CCCCCC;
  border-top: none; border-right: none; border-left: none;
  z-index: 2;
}
.box-icon-password {
  width: 33px; height: 40px;
  top: 50%; left: 50%;
  margin-top: -30px;
  margin-left: -150px;
  padding: 5px;
  position: absolute; 
  border: 2px solid #CCCCCC;
  border-top: none; border-right: none; border-left: none;
  z-index: 2;
}
#box-temp1 {
  width: 100px; height: 15px;
  margin-left: -50px; margin-top: 4px;
  float: right;
  color: #666F73;
}
#box-temp2 {
  width: 100px; height: 20px;
  margin-left: 35px; margin-top: 0px;
  padding-top: 6px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}
#box-temp3 {
  width: 30px; height: 20px;
  margin-right: 35px; margin-top: 0px;
  padding-top: 3px;
  float: right;
  color: #666F73;
}
#box-temp4 {
  width: 180px; height: 20px;
  top: 50%; left: 42%;
  margin-top: 155px;
  padding-top: 3px;
  float: right;
  position: absolute;
  z-index: 2;
  font-family: century gothic;
  font-size: 10px;
  color: #666F73;
}
.table1 {
  width: 318px;
  top: 50%; left: 50%;
  margin-top: 30px;
  margin-left: -155px;
  position: absolute;
  z-index: 2;
  font-family: century gothic;
  font-size: 12px;
}
.btn-signin {
  width: 230px; height: 50px;
  border: 1px solid #FFFFFF;
  border-radius: 23px;
  top: 50%; left: 50%;
  margin-top: 100px;
  margin-left: -110px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  outline: none;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #CCCCCC;
  -webkit-box-shadow: 0 0 10px #CCCCCC;
  -o-box-shadow: 0 0 10px #CCCCCC;
  -moz-box-shadow: 0 0 10px #CCCCCC;
}

#lingkaran1 {
  width: 80px; height: 80px;
  top: 50%; left: 50%;
  margin-top: -200px;
  margin-left: -30px;
  position: absolute;
  z-index: 2;
  border-radius: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px #CCCCCC;
  -webkit-box-shadow: 0 0 10px #CCCCCC;
  -o-box-shadow: 0 0 10px #CCCCCC;
  -moz-box-shadow: 0 0 10px #CCCCCC;
}
#lingkaran2 {
  width: 30px; height: 30px;
  top: 50%; left: 50%;
  margin-top: -185px;
  margin-left: -15px;
  position: absolute;
  z-index: 2;
  border: double 10px transparent;
  border-radius: 100%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #9B59B6,#E95BA6);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: #FFFFFF;
}
