body {
  margin: 0;
}

#header {
  width: 100%; height: 60px;
  background: linear-gradient(to right, #E95BA6, #9B59B6); /* Standard syntax */
  background: -webkit-linear-gradient(left, #E95BA6, #9B59B6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E95BA6, #9B59B6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E95BA6, #9B59B6); /* For Firefox 3.6 to 15 */
}

#box-main {
  width: 918px; height: 450px;
  top: 50%; left: 50%;
  margin-top: -225px;
  margin-left: -459px;
  position: fixed;
}
#box-on-off {
  width: auto; height: auto;
  padding: 5px;
  margin-top: 10px; margin-right: 30px;
  float: right;
}
#box-temp1 {
  width: 25px; height: 20px;
  margin-left: -30px; margin-top: -18px;
}
#box-temp2 {
  width: 25px; height: 20px;
  margin-left: 40px; margin-top: -18px;
}

#box-progress-bar {
  width: 818px; height: 40px;
  margin-left: 50px; margin-top: 5px; margin-bottom: 20px;
}
#line1 {
  width: 160px; height: 8px;
  margin-left: 30px; margin-top: 14px;
  background: linear-gradient(to right, #9B59B6, #E95BA6); /* Standard syntax */
  background: -webkit-linear-gradient(left, #9B59B6, #E95BA6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #9B59B6, #E95BA6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #9B59B6, #E95BA6); /* For Firefox 3.6 to 15 */
  position: absolute;
}
#line2 {
  width: 190px; height: 8px;
  margin-left: 624px; margin-top: 14px;
  background-color: #C1C1C1;
  position: absolute;
}
#status1 {
  width: 28px; height: 28px;
  float: left;
  border-radius: 50%;
  background: linear-gradient(to right, #E95BA6, #9B59B6); /* Standard syntax */
  background: -webkit-linear-gradient(left, #E95BA6, #9B59B6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E95BA6, #9B59B6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E95BA6, #9B59B6); /* For Firefox 3.6 to 15 */
}
#status2 {
  width: 28px; height: 28px;
  float: right;
  margin-right: 150px;
  border-radius: 50%;
  background: linear-gradient(to right, #E95BA6, #9B59B6); /* Standard syntax */
  background: -webkit-linear-gradient(left, #E95BA6, #9B59B6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E95BA6, #9B59B6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E95BA6, #9B59B6); /* For Firefox 3.6 to 15 */
}
#status3 {
  width: 30px; height: 30px;
  margin-left: 20px; margin-right: 20px;
  border-radius: 50%;
  background: linear-gradient(to right, #E95BA6, #9B59B6); /* Standard syntax */
  background: -webkit-linear-gradient(left, #E95BA6, #9B59B6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E95BA6, #9B59B6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E95BA6, #9B59B6); /* For Firefox 3.6 to 15 */
}
#status4 {
  width: 30px; height: 30px;
  float: left;
  margin-left: 150px;
  border-radius: 50%;
  background: linear-gradient(to right, #E95BA6, #9B59B6); /* Standard syntax */
  background: -webkit-linear-gradient(left, #E95BA6, #9B59B6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #E95BA6, #9B59B6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #E95BA6, #9B59B6); /* For Firefox 3.6 to 15 */
}
#status5 {
  width: 28px; height: 28px;
  float: right;
  border: 1px solid #C1C1C1;
  border-radius: 50%;
  background-color: #C1C1C1;
}

#label {
  width: 180px; height: 20px;
  margin-left: 100px; margin-bottom: 20px;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #E95BA6;
}
#profile-photo {
  width: 150px; height: 150px;
  margin-left: 370px; margin-top: 50px;
  border-radius: 50%;
  box-shadow: 0 0 8px #E95BA6;
  -webkit-box-shadow: 0 0 8px #E95BA6;
  -o-box-shadow: 0 0 8px #E95BA6;
  -moz-box-shadow: 0 0 8px #E95BA6;
}
.btn-upload {
  width: 100px; height: 30px;
  margin-left: 215px; margin-top: 20px;
  border: 2px solid #E95BA6;
  border-radius: 50px;
  font-family: arial;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #E95BA6;
  cursor: pointer;
  outline: none;
}
#btn-back {
  width: 65px; height: 20px;
  margin-left: 50px; margin-top: 121px;
  padding-top: 8px; padding-left: 60px;
  float: left;
  border: 2px solid #E95BA6;
  border-radius: 50px;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  color: #E95BA6;
  cursor: pointer;
}
#btn-next {
  width: 85px; height: 20px;
  margin-right: 52px; margin-top: 121px;
  padding-top: 8px; padding-left: 25px;
  float: right;
  border: 2px solid #E95BA6;
  border-radius: 50px;
  font-family: arial;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #E95BA6;
  cursor: pointer;
}
