<!DOCTYPE html>
<html ng-app="city">
<head>
  <meta charset="UTF-8">
  <title>Test FE</title>
  <link type="text/css" rel="stylesheet" href="css/style3.css">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="controller/system.js"></script>
</head>
<body>
  <div id="header">
    <div id="box-on-off"><a href="index.html"><img src="img/on-off.png" width="25" height="25"></a></div>
  </div>
  <div id="box-main">
    <div id="box-progress-bar">
      <div id="line1"></div>
      <div id="line1" style="width: 180px; margin-left: 213px;"></div>
      <div id="line2"></div>
      <table style="width: 818px;">
        <tr>
          <td><div id="status1"><img src="img/check-mark.png" width="20" height="20" style="margin-top: 4px; margin-left: 4px;"></div></td>
          <td><div id="status2"><img src="img/check-mark.png" width="20" height="20" style="margin-top: 4px; margin-left: 4px;"></div></td>
          <td style="width: 30px;"><div id="status3"><img src="img/address.png" width="20" height="20" style="margin-top: 4px; margin-left: 4px;"></div></td>
          <td><div id="status4"></div></td>
          <td><div id="status5"></div></td>
        </tr>
      </table>
    </div>
    <div id="label">Address</div>
    <div class="font1">City</div>
    <select class="combobox-city" ng-controller="dataCity">
      <option></option>
      <option ng-repeat="listkota in kota" value="{{ listkota.kota }}">{{ listkota.kota }}</option>
    </select>
    <div class="font1">Zip Code</div>
    <input class="textbox-zipcode" type="text">
    <div class="font1">Complete Address</div>
    <textarea style="width: 400px; height: 60px; padding: 20px; 
                     border: 1px solid #F1F1F1; border-radius: 20px; 
                     background-color: #F1F1F1; outline: none;">
    </textarea>
    <a href="province.html"><div id="btn-back">BACK<div id="box-temp1"><img src="img/left-arrow.png" width="20"></div></div></a>
    <a href="profile.html"><div id="btn-next">NEXT<div id="box-temp2"><img src="img/right-arrow-white.png" width="20"></div></div></a>
  </div>
</body>
</html>
