<!DOCTYPE html>
<html ng-app="province">
<head>
  <meta charset="UTF-8">
  <title>Test FE</title>
  <link type="text/css" rel="stylesheet" href="css/style2.css">
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="controller/system.js"></script>
</head>
<body>
  <div id="header">
    <div id="box-on-off"><a href="index.html"><img src="img/on-off.png" width="25" height="25"></a></div>
  </div>
  <div id="box-main">
    <div id="box-progress-bar">
      <div id="line1"></div>
      <div id="line2"></div>
      <table style="width: 818px;">
        <tr>
          <td><div id="status1"><img src="img/check-mark.png" width="20" height="20" style="margin-top: 4px; margin-left: 4px;"></div></td>
          <td><div id="status2"><img src="img/location.png" width="15" height="15" style="margin-top: 7px; margin-left: 7px;"></div></td>
          <td style="width: 30px;"><div id="status3"></div></td>
          <td><div id="status4"></div></td>
          <td><div id="status5"></div></td>
        </tr>
      </table>
    </div>
    <div id="label">Province</div>
    <div ng-controller="dataProvince">
      <div class="box-province" ng-repeat="listprovinsi in provinsi">
        {{ listprovinsi.provinsi }}
      </div>
    </div>
    <table style="margin-left: 420px; margin-top: 15px;">
      <tr>
        <a href=""><td><div class="btn-round"> < </div></td></a>
        <a href=""><td><div class="btn-round"> > </div></td></a>
      </tr>
    </table>
    <a href=""><div id="btn-back">BACK<div id="box-temp1"><img src="img/left-arrow.png" width="20"></div></div></a>
    <a href="address.html"><div id="btn-next">NEXT<div id="box-temp2"><img src="img/right-arrow-white.png" width="20"></div></div></a>
  </div>
</body>
</html>
